#caption-info {
    border-radius: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 35pt;
    color:rgb(94, 192, 216) !important;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    opacity: 80%;
    margin-top: -10px;
}

#background-info {
    background-color: rgb(0, 38, 255);
    border-radius: 10px;
    margin: -1px;

}

#image {
    background-color: rgb(94, 216, 190);
    border-radius: 50%;
    scale: 60%;
    margin-bottom: -30px;
}