.navbar {
    position: fixed !important;
    width: 100vw;
    z-index: 100;
}

#navbar-background{
    background-color: rgb(25, 91, 107);
}

#navbar-title{
    color:rgb(241, 238, 233);
    font-weight: bold;
    padding-right: 50px;
}

.button-text{
    color: rgb(25, 91, 107);
    font-weight: 600;
}

.button-background{
    background: rgb(176, 216, 201) !important;
    margin-right: 5px;
}